DATABASE="mongodb+srv://username:password@cluster0.vws5xhl.mongodb.net/database-name"

JWT_SECRET="RANDOM_SECRET_KEY"

NODE_ENV="" # development: môi trường phát triển, production: môi trường sản phẩm